    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Solving Problems</h2>
              <br/>
              <p>With 15+ years experience in software including Princpal Software Engineer and CTO roles I help your business solve software and technical strategy problems to deliver the right product and the best solution.</p>
            </div>
        </div>

        <div style="height: 30px;"></div>

        <div class="row">
          <div class="col-md-4">
            <section class="special box">
              <i class="icon fa fa-mobile major"></i>
              <h3>Mobile</h3>
              <p>Deep expertise delivering both hybrid and native mobile solutions since the first generation of smartphones. From co-founding startups to helping larger companies derive real value from mobile solutions.</p>
            </section>
          </div>
          <div class="col-md-4">
            <section class="special box">
              <i class="icon fa fa-area-chart major"></i>
              <h3>Big Data and Machine Learning</h3>
              <p>Deep expertise in big data  developing large ElasticSearch, Kafka and Hadoop solutions featuring over 100TB of indexed data. Machine learning via both python math libraries as well as AWS machine learning solutions.</p>
            </section>
          </div>
          <div class="col-md-4">
            <section class="special box">
              <i class="icon fa fa-cloud major"></i>
              <h3>Cloud and Technical Strategy</h3>
              <p>I  help companies form and execute on their technial strategy. From advising on how to move to the cloud to leveraging new technologies to drive their business I have defined and executed technical strategy in roles from senior developer to CTO.</p>
            </section>
          </div>
        </div>

        <br/>
    </section>
