<div class="blog-background">
    <div class="container blog">

        <div class="row">
            <div class="col-md-12 content">
                
                <header class="text-center">
                    <h1>{{page.title}}</h1>
                    <div class="meta">by {{site.author}} on {{ page.date | date: "%B %d, %Y" }}</div>

                     {% if page.img %}
                        <div class="image">
                            <img src="/img/{{page.img}}" alt="{{page.title}}" />
                        </div>
                    {% endif %}
                </header>

                <div>
                    {{content}}
                </div>

                {% if page.tags %}
                    <div class="tags">
                        Tags:
                        
                        {% for tag in page.tags %}
                           {{ tag }}
                        {% endfor %}
                    </div>
                {% endif %}

                <hr/>

                <div id="disqus_thread"></div>
                    <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                     */
                    var disqus_config = function () {
                        this.page.url = "http://damianhagge.com{{page.url}}"; 
                        this.page.identifier = "{{page.id}}";
                    };
                    
                    (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = '//damianhagge.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                    </script>
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                                    

            </div>

        </div>
    </div>
</div>