<section id="home">
<!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message intro-message-small">
                        <h1>Damian Hagge</h1>
                        <h3>Helping companies with <em>Software</em> and <em>Technical Strategy</em></h3>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->
</section>
