<section id="projects">

<!--
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Cue2 <br/> Mobile Patient Payments</h2>
                    <div class="lead">Co-founder, CTO and technical creator of <a href="http://cuesquared.com/">Cue2</a> which helps medical practices provide patients with easy payments solutions. Features an AWS hosted spring-boot Java backend with an angular mobile hybrid front end.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/cue2.png" alt="Cue Squared">
                </div>
            </div>

        </div>
    </div>
-->
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">AppDynamics Analytics</h2>
                    <div class="lead">As an employee of Silicon Valley unicorn <a href="http://www.appdynamics.com/">AppDynamics</a> I was an initial core team member creating the Analytics line of business. We scaled this new product from scratch to $7M annual revenue in 12 months. It features a large ElasticSearch and Kafka solution which ingests 10TB per day and indexes into a 60+ node ElasticSearch cluster cloud hosted on AWS.</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                  <img class="img-responsive" src="img/services/appdynamics.png" alt="AppDynamics">
                </div>
            </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Primetab Virtual Patient Assistant</h2>
                    <div class="lead">Creator of the inpatient tablet solution for <a href="http://adelantehealth.co/">Adelante LLC</a> which is currently rolled out in several hospitals across the US. Features a webpy python services tier and a JMVC-based mobile hybrid front end and includes patient credit card payments, a streaming movie library and a custom HL7 processing engine.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/primetab.png" alt="PrimeTab">
                </div>
            </div>

        </div>
    </div>

    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Deem Mobile Travel and Expenses</h2>
                    <div class="lead">Key principal software engineer for San Francisco based <a href="https://www.deem.com/">Deem</a>, leading strategic initatives for a full stack mobile platform. Features a custom-built Cordova, JS and Backbone mobile frontend and a Java Spring Hibernate backend. The solution integrated with various legacy travel backends such as GDS and ITA.</div>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/services/deem.png" alt="Deem">
                </div>
            </div>

        </div>
    </div>
</section>
